@media(max-width: 700px) {
    
    .showcase {
        height: 100vh;

        nav {
            display: none;
        }

        &-content {
            text-align: center;
            
            h1 {
                font-size: 2rem;
            }

            img {
                display: none;
            }
        }

    }
}